body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #f2f2f2;
}

.form-box {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: blue;
    color: white;
    border: none;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}